[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[core]
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else}}
	autocrlf = input
{{- end}}
	safecrlf = warn
{{- if eq .chezmoi.os "darwin" }}
[credential "https://github.com"]
    helper = !{{findExecutable "gh" (list "/run/current-system/sw/bin" "/usr/local/bin")}} auth git-credential
[credential "https://gist.github.com"]
    helper = !{{findExecutable "gh" (list "/run/current-system/sw/bin" "/usr/local/bin")}} auth git-credential
{{- else if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
    helper = !{{findExecutable "gh" (list "/run/current-system/sw/bin" "/usr/local/bin" "/usr/bin")}} auth git-credential
[credential "https://gist.github.com"]
    helper = !{{findExecutable "gh" (list "/run/current-system/sw/bin" "/usr/local/bin" "/usr/bin")}} auth git-credential
{{- else if eq .chezmoi.os "windows"}}
[credential "https://github.com"]
    helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
    helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
{{- end}}

[alias]
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff

    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff

    # `git diff` with difftastic.
    dft = -c diff.external=difft diff
